.status-circle {
	width: 15px;
	height: 15px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	&.status-default {
		background-color: #AAAAAA;
	}
	&.status-standby {
		background-color: #26D0FA;
	}
	&.status-lesson {
		background-color: #F0295D;
	}
	&.status-reserved {
		background-color: #bb6;
	}
	&.status-other {
		background-color: #4b6;
	}
}

.teacher-lists {
	.teacher-view {
		text-align: center;
		.figure {
			width: 100%;
			img {
				width: 100%;
				height: 75px;
			}
		}
		.teacher-info {
			.status-circle {
				margin: 0 auto;
    		margin-top: 0.5rem;
			}
			.teacher-name {
				font-size: 14px;
				font-weight: bold;
				text-align: center;
			}
		}
	}
}